---
layout: wrapper
---

<div class="post-view">
    {% include decor/post-margin.html %}
    <div class="summary">
        <span class="breadcrumb"><a href="/projects/">Projects</a> / {{ page.title }}</span>
        <h1>{{ page.title }}</h1>

        <div class="project-skills">
            {% for skill in page.skills %}
            <span class="skill">{{ skill }}</span>
            {% endfor %}
        </div>

        <p class="project-description">{{ page.description }}</p>

        {% assign folder_path = page.path | split: "/" | slice: 0, 2 | join: "/" %}
        {% assign image_path = "/" | append: folder_path | append: page['main-image'] %}
        <div class="main-image ticks">
            <img src="{{ image_path }}" alt="{{ page.title }}">
        </div>
    </div>

    <div class="content">
        {{ content }}
    </div>
</div>
